$black: #000
$white: #FFF
$hover-blue: #a1baf4
$background-gray: #f8f8f8
$dark-text: #414141
$menu-black: #1e1e1e
$heading-color: #464646
$error-red: #f08992
$validation-red: #f81010
$validation-green: #53bc54
$font: 'Raleway', sans-serif
$font-medium: 'Raleway-Medium', sans-serif

$font2: 'Lato', sans-serif

$table-text1: #3d3d3d
$table-text2: #323232
$text-hover: #999999

$img: '../../img/'

$form-placeholder: #303030
$form-border: #979797
$newsletter-placeholder: #737373
$footer-heading: #7a7a7a
$services-text: #acacac

$m: 940px