.article
    height: 200px
    margin: 0 auto
    width: 100%
    .flex-container
        display: flex
        max-width: 1400px
        width: 100%
    &:nth-of-type(odd)
        background-color: $white
    &:nth-of-type(even)
        background-color: $background-gray
    &--image-container

    &--text-container
        display: flex
        flex-flow: column


        