.slider
    width: 100%
    max-height: 640px
    height: 100%
    background-color: $dark-text
    overflow: hidden
    position: relative
    @media (min-width: $m)  
        max-height: 810px
    &__image-container
        position: relative
    &__image
        width: 100%
    &__text-container
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 3
        display: flex
        flex-flow: column
        justify-content: space-between
        align-items: center

        h3
            color: $white
            font-size: 36px
            font-family: $font
            font-weight: 700
            margin-bottom: 30px

    &__content
        
        &.slick-dotted.slick-slider
            margin-bottom: 0
        .slick-dots
            bottom: 30px
            color: $white
            content: 
            li
                button:before
                    width: 10px
                    height: 10px
                    content: ''
                    
                    border: 1px solid $white
                    border-radius: 50%
                    opacity: 1
                    font-size: 12px
                &.slick-active 
                    button:before
                        content: ''
                        background-color: $white
                        font-size: 6px
                
            @media (min-width: $m)
                bottom: 50px
    &__arrow
        display: none
        position: absolute
        font-size: 42px
        color: $white
        margin: 0 10px
        top: 50%
        transform: translateY(-50%)
        z-index: 2
        width: 18px
        height: 34px 
        background-position: center
        background-repeat: no-repeat
        background-size: contain
        @media (min-width: $m)
            display: block
        &:hover
            width: calc(19.8px)
            height: calc(37.4px)

        &--prev
            left: 0
            background-image: url('#{$img}arrow-prev.svg')
           
        &--next
            right: 0
            background-image: url('#{$img}arrow-next.svg')
           
   
           