.slider
    width: 100%
    height: 640px
    background-color: $dark-text
    @media (min-width: $m)  
        height: 810px
    &__image-container
        position: relative
    &__image
        width: 100%